# TIME SERIES ANALYSIS

## IMPORT LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## IMPORT DATABASE

In [8]:
df = pd.read_csv(r'C:\Workbook\Funds\mutual_funds.csv')

In [3]:
df.head(5)

,fund_symbol,fund_extended_name,fund_family,inception_date,category,rating,return_rating,risk_rating,investment_type,size_type,...,fund_return_2010_q2,fund_return_2010_q1,fund_alpha_5years,fund_alpha_10years,fund_beta_5years,fund_beta_10years,fund_standard_deviation_5years,fund_standard_deviation_10years,fund_sharpe_ratio_5years,fund_sharpe_ratio_10years
0,AAAAX,DWS RREEF Real Assets Fund - Class A,DWS,2007-07-29,World Allocation,3.0,3.0,3.0,Blend,Large,...,-2.53,2.23,-2.86,-3.86,1.05,0.93,10.39,8.67,0.33,0.24
1,AAADX,Aberdeen Income Builder Fund Class A,Aberdeen,2011-12-29,Allocation - 50% to 70% Equity,4.0,5.0,5.0,Blend,Large,...,NaN,NaN,-0.30,-0.15,1.36,1.45,10.21,11.70,0.74,0.89
2,AAAGX,Thrivent Large Cap Growth Fund Class A,Thrivent Funds,1999-10-28,Large Growth,3.0,3.0,4.0,Growth,Large,...,-14.29,4.09,2.92,0.77,1.04,1.08,16.49,15.40,0.88,0.93
3,AAAIX,American Century Strategic Allocation: Aggress...,American Century Investments,2000-07-31,Allocation - 70% to 85% Equity,4.0,4.0,3.0,Blend,Large,...,-8.13,3.92,-0.78,-0.48,1.39,1.37,12.35,11.44,0.61,0.73
4,AAANX,Horizon Active Asset Allocation Fund Investor ...,Horizon Investments,2012-01-30,Tactical Allocation,3.0,4.0,5.0,Blend,Large,...,NaN,NaN,-4.38,NaN,1.67,NaN,15.06,NaN,0.37,NaN

### SELECT THE BEST FUND

In [5]:
#CATEGORIE COLUMNS ON THE LEFT AND NUMERICAL ON THE RIGHT
best_fund = df.groupby(['fund_symbol','fund_extended_name'])[['fund_return_10years']].mean().sort_values(by='fund_return_10years',ascending = False)[:1]
best_fund

                                                       fund_return_10years
fund_symbol fund_extended_name
RYVLX       Rydex NASDAQ-100 2x Strategy Fund Class A                32.79

### LOCATE ROW BASED ON FUND SYMBOL

In [6]:
bf = df.loc[df['fund_symbol'] == 'RYVLX']
bf

,fund_symbol,fund_extended_name,fund_family,inception_date,category,rating,return_rating,risk_rating,investment_type,size_type,...,fund_return_2010_q2,fund_return_2010_q1,fund_alpha_5years,fund_alpha_10years,fund_beta_5years,fund_beta_10years,fund_standard_deviation_5years,fund_standard_deviation_10years,fund_sharpe_ratio_5years,fund_sharpe_ratio_10years
14748,RYVLX,Rydex NASDAQ-100 2x Strategy Fund Class A,Rydex Funds,2004-08-31,Trading - Leveraged Equity,3.0,5.0,5.0,Growth,Large,...,-22.48,9.75,8.86,5.52,2.24,2.19,35.38,31.67,0.95,1.04

In [7]:
bf2 = df.iloc[14748,:]
bf2.to_frame()

                                                                     14748
fund_symbol                                                          RYVLX
fund_extended_name               Rydex NASDAQ-100 2x Strategy Fund Class A
fund_family                                                    Rydex Funds
inception_date                                                  2004-08-31
category                                        Trading - Leveraged Equity
...                                                                    ...
fund_beta_10years                                                     2.19
fund_standard_deviation_5years                                       35.38
fund_standard_deviation_10years                                      31.67
fund_sharpe_ratio_5years                                              0.95
fund_sharpe_ratio_10years                                             1.04

[87 rows x 1 columns]

In [ ]:
bf.columns

## GET ALL THE DATE COLUMNS

In [ ]:
X = [['fund_return_2020_q3', 'fund_return_2020_q2', 'fund_return_2020_q1',
       'fund_return_2019_q4', 'fund_return_2019_q3', 'fund_return_2019_q2',
       'fund_return_2019_q1', 'fund_return_2018_q4', 'fund_return_2018_q3',
       'fund_return_2018_q2', 'fund_return_2018_q1', 'fund_return_2017_q4',
       'fund_return_2017_q3', 'fund_return_2017_q2', 'fund_return_2017_q1',
       'fund_return_2016_q4', 'fund_return_2016_q3', 'fund_return_2016_q2',
       'fund_return_2016_q1', 'fund_return_2015_q4', 'fund_return_2015_q3',
       'fund_return_2015_q2', 'fund_return_2015_q1', 'fund_return_2014_q4',
       'fund_return_2014_q3', 'fund_return_2014_q2', 'fund_return_2014_q1',
       'fund_return_2013_q4', 'fund_return_2013_q3', 'fund_return_2013_q2',
       'fund_return_2013_q1', 'fund_return_2012_q4', 'fund_return_2012_q3',
       'fund_return_2012_q2', 'fund_return_2012_q1', 'fund_return_2011_q4',
       'fund_return_2011_q3', 'fund_return_2011_q2', 'fund_return_2011_q1',
       'fund_return_2010_q4', 'fund_return_2010_q3', 'fund_return_2010_q2',
       'fund_return_2010_q1']]

### SELECT BY USING ILOC

In [ ]:
y = bf.iloc[:,36:79]
y

### TRANSPOSE SO IT IS IN COLUMN FORMAT

In [ ]:
y = y.transpose()
y

## RESET INDEX - QUARTER

In [ ]:
y.reset_index('Label'== 'Quarter', inplace = True)

In [ ]:
rename_map={'index':'fund_quarter',
           '14748':'fund_performance'}

In [ ]:
y.rename(columns = rename_map,inplace = True)
y

In [ ]:
new = y["fund_quarter"].str.split("_", n = 4, expand = True)
  
# making separate first name column from new data frame
y["Fund"]= new[0]

# making separate first name column from new data frame
y["Return"]= new[1]
    
# making separate last name column from new data frame
y["Year"]= new[2]
     
# making separate last name column from new data frame
y["Quarter"]= new[3]
  
# Dropping old Name columns
y.drop(columns =["fund_quarter"], inplace = True)
  
# df display
y

In [ ]:
y.columns

In [ ]:
#FOR LOOP THAT GOES THROUGH THE QUARTER COLUMN IN THE DATAFRAME
#quarter = y['Quarter']


#length = len(quarter)

#for i in range(length):
#    print(quarter[i])

## REMOVE IRRELEVANT COLUMNS AND REVERSE ORDER

In [ ]:
#REVERSE INDEX = df = df[::-1]
y =y[['Year','Quarter',14748]]
y = y[::-1]
y.reset_index(drop = True, inplace = True)
y.head()

## RENAME COLUMN AND REPLACE Qs BY NUMBERS

In [ ]:
y.replace({'Quarter': {'q1': 3103, 'q2': 3006,'q3':3009,'q4':3112}},inplace = True)
y.head(5)

In [ ]:
y.index

In [ ]:
y['Year'].to_frame().info()

In [ ]:
y['Quarter'].to_frame().info()

In [ ]:
y['Year'] = y['Year'].astype(str).astype(int)
y['Year'].to_frame().info()

In [ ]:
#y['Quarter'] = y['Quarter'].to_string()

In [ ]:
#y['Year'] = y['Year'].to_string()

In [ ]:
#y['Date'] = y['Quarter'] + y['Year']
#y['Date'].head()

In [ ]:
#y.index = pd.to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=True)
#y.index = pd.to_datetime(y.index)

### EXPORT FILE TO CSV

In [ ]:
y.to_csv('RYVLX.csv')

## RELOAD SPREADSHEET

## IMPORT LIBRARIES FOR TIME SERIES

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.stattools import acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import statsmodels
print('statsmodels: %s' % statsmodels.__version__)

### VISUALISATION

In [ ]:
import chart_studio.plotly as py
import plotly.graph_objects as go
import cufflinks as cf

In [ ]:
cf.go_offline()

### RELOAD SPREADSHEET

In [ ]:
df = pd.read_csv(r'C:\Workbook\Funds\bf.csv', parse_dates = ['Date'], index_col = ['Date'])
df.head(5)

In [ ]:
df.columns

In [ ]:
df = df[['Performance']]
df.head()

In [ ]:
plt.figure(figsize = (15,15))
df.iplot(y = 'Performance',title = 'Rydex NASDAQ 100 - 2X', yTitle = 'Performance' )

In [ ]:
plt.figure(figsize = (12,12))
# First-order difference
df['Performance_Diff'] = df['Performance'].diff(periods=1)
df = df.dropna()

# Plot
plt.title('RYVLX dataset with First-order difference', size=20)
plt.plot(df['Performance'], label='Performance')
plt.plot(df['Performance_Diff'], label='First-order difference', color='orange')
plt.legend();

In [ ]:
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.stattools import acf, pacf

In [ ]:
# Calculate autocorrelation
acf_values = acf(df['Performance_Diff'])

In [ ]:
# Plot autocorrelation
plt.figure(figsize = (12,12))
plot_acf(df['Performance_Diff'], lags=15);

In [ ]:
plot_pacf(df['Performance_Diff'], lags=15)

if the ACF plot drops instantly and the PACF declines gradually, use Moving Average model.

Time series models youâ€™ll soon learn about, such as Auto Regression (AR), Moving Averages (MA), or their combinations (ARMA), require you to specify one or more parameters. These can be obtained by looking at ACF and PACF plots. In a nutshell: If the ACF plot declines gradually and the PACF drops instantly, use Auto Regressive model. If the ACF plot drops instantly and the PACF declines gradually, use Moving Average model. If both ACF and PACF decline gradually, combine Auto Regressive and Moving Average models (ARMA). If both ACF and PACF drop instantly (no significant lags), itâ€™s likely you wonâ€™t be able to model the time series.

Still, reading ACF and PACF plots is challenging, and youâ€™re far better of using grid search to find optimal parameter values. An optimal parameter combination has the lowest error (such as MAPE) or lowest general quality estimator (such as AIC). Weâ€™ll cover time series evaluation metrics soon, so stay tuned.

Conclusion

And there you have it â€” autocorrelation and partial autocorrelation in a nutshell. Both functions and plots help analyze time series data, but weâ€™ll mostly rely on brute-force parameter finding methods for forecasting. Itâ€™s much easier to do a grid search than to look at charts. Both ACF and PACF require stationary time series. Weâ€™ve only covered stationarity briefly for now, but that will change in the following article. Stay tuned to learn everything about stationarity, stationarity tests, and testing automation.

A rolling mean is simply the mean of a certain number of previous periods in a time series. To calculate the rolling mean for one or more columns in a pandas DataFrame

In [ ]:
rolling_mean = df.rolling(window = 4).mean()
rolling_std = df.rolling(window = 4).std()

plt.plot(df, color = 'blue', label = 'Original')
plt.plot(rolling_mean, color = 'red', label = 'Rolling Mean')
plt.plot(rolling_std, color = 'black', label = 'Rolling Std')
plt.legend(loc = 'best')
plt.title('Rolling Mean & Rolling Standard Deviation')
plt.show()

In [ ]:
df.to_csv('RYVLX.csv')

In [ ]:
df_log = np.log(df)
plt.plot(df_log)

### AUTO REGRESSIVE MODEL

In [ ]:
# Autoregressive models operate under the premise that past values have an effect on current values. 
# AR models are commonly used in analyzing nature, economics, and other time-varying processes. 
# As long as the assumption holds, we can build a linear regression model that attempts to predict value of a dependent 
# variable today, given the values it had on previous days.

## TIME SERIES USING PROPHET

In [2]:
import warnings;
warnings.simplefilter('ignore')

In [ ]:
#GO THROUGH COMMAND To install this package with conda run one of the following:
#https://anaconda.org/conda-forge/fbprophet
#conda install -c conda-forge fbprophet
#pip install pystan==2.19.1.1
#pip install fbprophet==0.6
#!pip3 install fbprophet

In [4]:
from fbprophet import Prophet
import pystan

### IMPORT DATA

In [5]:
df = pd.read_csv(r'C:\Workbook\Funds/RYVLX.csv')

In [6]:
df.head(5)

       DATE  Performance
0  31032010         9.75
1  30062010       -22.48
2  30092010        30.78
3  31122010        22.55
4  31032011        10.06

In [7]:
df.describe()

               DATE  Performance
count  4.300000e+01    43.000000
mean   3.056434e+07     9.095814
std    5.058129e+05    18.322007
min    3.006201e+07   -33.480000
25%    3.007702e+07    -0.535000
50%    3.009202e+07    10.060000
75%    3.103202e+07    20.585000
max    3.112202e+07    64.640000

In [8]:
df.dtypes

DATE             int64
Performance    float64
dtype: object

In [9]:
df.rename(columns={"DATE": "Date"}, inplace = True)
df.head()

       Date  Performance
0  31032010         9.75
1  30062010       -22.48
2  30092010        30.78
3  31122010        22.55
4  31032011        10.06

## IMPORT DATE TIME

In [10]:
import datetime

In [ ]:
# Python3 code to iterate over a list
#date = df['DATE']

# getting length of list
#length = len(date)
  
# Iterating the index
# same as 'for i in range(len(list))'
#for i in date:
#    print(datetime.datetime.fromtimestamp( int(i)).strftime('%Y-%m-%d'))

In [11]:
df['Year'] = df['Date'].apply(lambda x:str(x)[-4:])
df['Month'] = df['Date'].apply(lambda x:str(x)[-6:-4])
df['Day'] = df['Date'].apply(lambda x:str(x)[:-6])
df['ds'] = pd.DatetimeIndex(df['Year'] +'-'+ df['Month']+'-'+ df['Day'])
df['ds'].head(5)

INFO:numexpr.utils:NumExpr defaulting to 4 threads.

0   2010-03-31
1   2010-06-30
2   2010-09-30
3   2010-12-31
4   2011-03-31
Name: ds, dtype: datetime64[ns]

In [13]:
df.dtypes

Date                    int64
Performance           float64
Year                   object
Month                  object
Day                    object
ds             datetime64[ns]
dtype: object

In [14]:
df.columns
df = df[['ds','Performance' ]]

In [15]:
df.columns = ['ds', 'y']
df.head()

          ds      y
0 2010-03-31   9.75
1 2010-06-30 -22.48
2 2010-09-30  30.78
3 2010-12-31  22.55
4 2011-03-31  10.06

## TRAIN MODEL

In [16]:
m = Prophet(interval_width = 0.95, daily_seasonality = True, weekly_seasonality = True)
model = m.fit(df)